<!-- <h1>Newsfeed page</h1> -->
<h1>Profile page</h1>

<img src="https://i.imgur.com/YcP0tik.jpeg" width="20%" alt="profile image">
<h2>
    Firstname Lastname
</h2>
<ul>
    <li>User name: username123</li>
    <li>First name: Firstname</li>
    <li>Last name: Lastname</li>
</ul>


<h3>Inventory:</h3>
<ul id="inventory-list">
    <li>Bag</li>
    <li>Vacuum cleaner</li>
</ul>

<h3>Contacts:</h3>
<ul id="users-list">(Iterate/loop through database content to show list of users)</ul>

<a href="/logout">Log Out</a>