<%- include("partials/header.ejs", {title: ` - Home`, body_id: `home`, nav_bg: `dark`} )%>


    <h1>Profile page</h1>

    <a href="/home">Home</a>
    <a href="/users">Users</a>

    <%- include("partials/footer.ejs")%>